body{
    margin:0;
    padding:0;
    --spacing: .1px;
    overflow-x: hidden;
}
.containerMenu{
    position: absolute;
    text-align: right;
    cursor: pointer;
    width: 80px;
    padding: .5em .5em 1em .5em;
    color: orangered;
    font-weight: 600;
    font-family: sans-serif;
    border: 1px solid  orange;
    border-radius: 5px;
    animation: showMenu .3s linear;
    transition: .5s;
}
@keyframes showMenu {
    to{
        transition: .5s;
        filter: blur(3px);
        transform: scale(.9);
    }
}

.containerMenu li {
    cursor: pointer;
    list-style: none;
    text-align: center;
    padding:.3em;
    font-weight: 600;
    background-color: red;
    margin-top: .5em;
    color: white;
    border-radius: 3px;
    font-family: arial;
}

.containerMenu > li:hover{
    transition: .4s;
    background-color: darkred;
}

.introduction{
    font-family: sans-serif;
    text-align: center;
    animation: moveLeft 1s  1s linear;
    background-color: darkorchid;
    margin: 0;
    padding: .4em;
    color: white;
    letter-spacing: var(--spacing);
    word-spacing: var(--spacing);
    font-size: 18px;
    font-weight: 600;
}
@keyframes moveLeft {
    10%{
        transform: translateX(-20px);
        border-radius: 8px;
        transition: .5s;
    }
    30%{
        border-radius: 8px;
        transition: .5s;
        transform: translateX(20px);
    }
}